spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pricing_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
